.card {
  max-width: 180px;
  border: 20px solid #898989;
  background-color: #898989;
}
.card img {
  max-width: 180px;
  object-fit: contain;
}

.card:hover {
  border: 20px solid #3f3f3f;
  background-color: #3f3f3f;
}
