
.movies-container {
  padding: 20px;
  background-color: #1e1e2f;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  max-width: 1200px;
  color: #f1f1f1; 
}

.movies-container h1 {
  font-size: 24px;
  color: #eae7e7; 
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #007bff; 
  display: inline-block;
  padding-bottom: 10px;
}

.outlet {
  margin-top: 20px;
  padding: 20px;
  background-color: #29293d; 
  border-radius: 10px;
  border: 1px solid #444; 
  color: #dcdcdc; 
  text-align: center;
}


.outlet a {
  color: #007bff; 
  text-decoration: none;
}

.outlet a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .movies-container {
    padding: 15px;
  }

  .movies-container h1 {
    font-size: 20px;
  }

  .outlet {
    padding: 15px;
  }
}
