.photos {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.photos-add-button {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
  font-size: 16px;
  font-weight: bold;
}

.photos-add-button:hover {
  background-color: #218838;
}

.photos-form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.photos-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photos-form-label {
  font-weight: bold;
  color: rgb(66, 66, 66);
}

.photos-form-input {
  padding: 10px;
  border: 1px solid #757474;
  border-radius: 5px;
  width: 100%;
  max-width: 1100px;
  box-sizing: border-box;
}

.photos-form-button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.photos-form-button:hover {
  background-color: #0056b3;
}

.photos-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px; 
  margin-bottom: 20px; 
}

.photos-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  max-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 100%;
  margin: 10px auto; 
}

.photos-image {
  width: 100%;
  height: auto;
}

.photos-description {
  padding: 10px;
  font-size: 14px;
  color: #555;
}

.photos-item-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.photos-edit-button,
.photos-delete-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.photos-edit-button {
  background-color: #ffc107;
  color: #fff;
}

.photos-delete-button {
  background-color: #dc3545;
  color: #fff;
}

.photos-edit-button:hover {
  background-color: #e0a800;
}

.photos-delete-button:hover {
  background-color: #c82333;
}

.photos-import-button {
  max-width: 300px;
  width: 100%;
  margin: 10px;
}

.photos-search-button {
  max-width: 300px;
  width: 100%;
  margin-left: 10px;
}

.photos-search-input {
  max-width: 500px;
  width: 100%;
}
